#h{
	text-align: center;
	background-color: #00FF00;
}

#h1{
	background-color: #1E90FF;
	text-align: center;
}

#h2{
	text-align: center;
	background-color: #B0C4DE;
}

#h3{
    background-color: #00FFFF;
	text-align: center;
}

#h4{
    background-color: #00FFFF;
	text-align: center;
}

#h5{
	background-color: #00FFFF;
	text-align: center;
}

#h6{
	background-color: #FF7F50;
	text-align: center;
}

#h7{
	background-color: #00FF00;
	text-align: center;
}

#h8{
	background-color: #FF7F50;
	text-align: center;
}

#h10{
	background-color: #1E90FF;
	text-align: center;
}

#h11{
	background-color: #1E90FF;
	text-align: center;
}

#h12{
	background-color: #1E90FF;
	text-align: center;
}