#Calvin{
	background-color: lightgreen;
}

#Calvin1{
	background-color: lightgreen;
}

#Calvin2{
	background-color: red;
}

#Calvin3{
	background-color: purple;
}

#Calvin4{
	background-color: orange;
}

#Calvin5{
	background-color: lightblue;
}